html, body {
  margin: 0;
  height: 100%;
}

line {
  stroke: red;
}

g.group0 path,
g.group0 circle {
  stroke: red;
  fill: none;
}

g.group1 path,
g.group1 circle {
  stroke: blue;
  fill: none;
}

g.group2 path,
g.group2 circle {
  stroke: green;
  fill: red;
}
